.a-row.as-dark
  .row
    .small-12.columns
      %h1.a-row--headline
        Spieltag
        = l(@matchday.date, format: :short)
.a-row.as-grey
  .row
    .small-12.medium-6.columns
      %h2.a-row--headline= @matchday.home_team.name

    .small-12.medium-6.columns
      %h2.a-row--headline= @matchday.guest_team.name

- if @matchday.teams.count == 2
  .a-row
    .row
      = form_tag shuffle_matchday_path do
        .small-12.medium-6.columns
          .players{ data: { behavior: 'home-team' } }
            - @matchday.home_team.players.each do |player|
              = render 'matchdays/player', player: player, team: :home
        .small-12.medium-6.columns
          .players{ data: { behavior: 'guest-team' } }
            - @matchday.guest_team.players.each do |player|
              = render 'matchdays/player', player: player, team: :guest
        %button.shuffle-button Auslosen
    .row
      .small-12.medium-6.columns
        = form_for Player.new, remote: true, data: { behavior: 'add-player', target: 'home-team' } do |fo|
          = hidden_field_tag :team, 'home'
          = fo.hidden_field :team_id, value: @matchday.home_team_id
          = fo.text_field :name
      .small-12.medium-6.columns
        = form_for Player.new, remote: true, data: { behavior: 'add-player', target: 'guest-team' } do |fo|
          = hidden_field_tag :team, 'guest'
          = fo.hidden_field :team_id, value: @matchday.guest_team_id
          = fo.text_field :name
